.navbar-default {
    background-color: #9B539C;
    border-color: #73c5e1;
}
.navbar {
	background:#9B539C;
  color: #73c5e1;
}

.navbar-header {
  background:#9B539C;
  color: #73c5e1;
}

.navbar-fixed-top {
  background:#9B539C;
  color: #73c5e1;
}
@media(min-width:400px) {
    .navbar {
        padding: 5px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background:#9B539C;
        color: #73c5e1;
    }
	
    .top-nav-collapse {
        padding: 0;
        background:#9B539C;
        color: #73c5e1;
    }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #5bb12f;
    color: #73c5e1;
}

#main-slider {
  position: relative;
  margin-top:px;
}
@media(max-width:500px) {
#main-slider {
  margin-top:45px;
}
}
#main-slider .carousel h2 {
  font-size: 72px;
  line-height:70px;
  color:#bccf02;
  text-transform:uppercase;
  margin-top:20%;
  font-weight:700;
  padding-left:0;
}
#main-slider .carousel h3 {
  font-size: 72px;
  line-height:70px;
  color:#eb65a0;
  text-transform:uppercase;
  margin-top:0%;
  font-weight:700;
 }
#main-slider .carousel p {
  font-size: 24px;
  line-height:28px;
  color:#eb65a0;
  font-weight:400;
  padding-left:0;
}
#main-slider .carousel .btn {
  color: #eb65a0;
  border-radius: 0;
  margin-top: 5px;
}
#main-slider .carousel .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#main-slider .carousel .boxed {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
}
#main-slider .carousel .item {
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bccf02
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 600px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #000;
  display: inline-block;
  margin-top: -25px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
  outline: 0;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#main-slider .prev {
  left: 10px;
}
#main-slider .next {
  right: 10px;
}
#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}
#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}
#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}
#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

@media(max-width:767px) {
	#main-slider .carousel h2 {
	  font-size: 42px;
	  line-height:36px;
	  color:#bccf02;
	  text-transform:uppercase;
	  margin-top:30%;
	  font-weight:700;
	  padding-left:0;
	}
}




/* Section Title */
.section-title h1{
	font-size:48px;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:50px;
}

.section-title h1:before{
	content: url(../img/title-before.png);
	display:block;
	float:left;
}

@media(max-width:767px) {
.section-title h1{
	font-size:32px;
	text-transform:uppercase;
	font-weight:700;
	margin-left:30px;
}
}


/* Caption Style 2 */
.cs-style-2 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.cs-style-2 figcaption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.cs-style-2 figcaption a {
	position: absolute;
	right: 20px;
	top: 30px;
}

.rental {
  height: 28px;
}

@media(min-width: 768px){
.navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}
}

.home-input:focus{
  background-color: #F9F0D9;
}

.navbar-brand {
  padding: 10px;
  background:#9B539C;
  color: #73c5e1;
}

#tagcloud {
  width: 600px;
  background:transparent;
  padding: 10px;
  border: transparent;
  text-align:center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#tagcloud a:link, #tagcloud a:visited {
  text-decoration:none;
  color: #B9E2F0;
}

#tagcloud a:hover {
  text-decoration: underline;
}

#tagcloud span {
  padding: 4px;
}

#tagcloud .smallest a {
  font-size: x-small;
  color: #bccf02;
}

#tagcloud .small a {
  font-size: small;
  color: #eb65a0;
}

#tagcloud .medium a {
  font-size:medium;
  color: #5bb12f;
}

#tagcloud .large a{
  font-size:large;
  color: #73c5e1;
}

#tagcloud .largest a{
  font-size:larger;
  color: #9b539c;
}