
body {
    font-family: Verdana, cursive;
    font-size: large;
}
.header {
    text-align: center;
    background-color: coral;
    border-radius: 10px;
    border: solid 2px black;
}

table, td, th {
    width: 100%;
    border:solid black 2px;
    border-collapse: collapse;
}

form {
    text-align: center;
}